<div>
  <div style="display: flex;flex-direction: row;">
    <img src="assets/images/logo.jpg" alt="" width="150" height="150">
    <h2 style="color: cornflowerblue;">Sklep z softłerem</h2>
  </div>

  <button routerLink="/adm_dashboard" class="AdmPanel">Panel Administratora</button>

  <div style="display: flex; justify-content: center;" class="Search">
    <input type="text" [(ngModel)]="this.mainService.productsRequest.name" class="ProductSearch"
      placeholder="Search games">
    <button (click)="this.mainService.getProducts(this.mainService.productsRequest)" routerLink="/products"
      class="ButtonSearch">Szukaj Produktu</button>
  </div>
  <div>
    <button id="cartBtn" routerLink="/cart" с>
      {{getCartQuanity()}}
    </button>
  </div>

</div>
